@font-face {
	font-family: "Alex Brush Font";
	src: url("/font/AlexBrush-Regular.ttf");
}

.alexBrush {
	font-family: "Alex Brush Font", sans-serif;
}

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	background-image: linear-gradient(120deg, #ccfeff80, #e7d2ff80, #ffe8fe80);
	font-family: sans-serif;
	margin: 0;
	padding: 4rem 20%;
}

@media screen and (max-width: 1152px) {
	html {
		font-size: 80%;
	}

	body {
		padding: 2rem;
	}
}

h2 {
	border-left: 0.1875rem solid grey;
	padding: 0.25rem 1rem 0.25rem 1rem;
}

nav + h1, nav > ul > li > a, figcaption {
	display: none;
}

nav > ul {
	margin-left: 0.125rem;
	list-style-type: none;
}

nav ul {
	font-family: "Yu Gothic", "DengXian", sans;
}

nav > ul > li > ul {
	list-style-type: hiragana-iroha;
	padding: 0rem;
}

nav > ul > li > ul > li > ul {
	list-style-type: disc;
	padding-left: 1rem;
}

nav > ul > li > ul > li > ul > li > ul {
	list-style-type: circle;
	padding-left: 1rem;
}

nav > ul > li > ul > li > ul > li > ul > li > ul {
	list-style-type: disclosure-closed;
	padding-left: 1rem;
}

a {
	text-decoration: none;
}

a:link {
	color: DodgerBlue;
}

a:hover {
	color: DeepPink;
}

p {
	line-height: 2em;
}

body > ul, body > :not(nav) ul, body > ol, body > :not(nav) ol {
	line-height: 1.75;
}

pre, blockquote {
	border-radius: 0.5rem;
}

pre, blockquote, button, input, textarea {
	background-color: rgba(255,255,255,0.25);
}

input, textarea {
	padding: 4px 0.5em;
}

pre, blockquote, button, input, textarea {
	border: 1px solid #a97aff;
}

pre {
	line-height: 1.45;
	padding: 1rem;
}

:not(pre) > code {
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
}

code {
	font-family: "Roboto Mono", "Ubuntu Mono", "Menlo", "Consolas", "Linux Libertine Mono", "Courier New", monospace;
	font-size: 85%;
}

img {
	max-height: 75vh;
	max-width: 100%;
}

blockquote {
	font-family: sans;
	margin: 0rem;
	padding: 0rem 1rem;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	white-space: pre-wrap;
	width: 100%;
	word-break: break-all;
}

th {
	font-weight: bold;
}

table, th, td {
	border: 2px solid #dedeff;
	padding: 0.5rem 0.75rem;
}

textarea {
	margin: 0 auto;
	resize: none;
	width: 100%;
}

textarea:required {
	box-shadow: unset;
}

button {
	border-radius: 3px;
	margin: 0.5em 0;
	padding: 4px 1em;
	transition-duration: 0.4s;
}

button:hover {
	background-color: white;
}

.sourceCode {
	overflow: auto !important;
}

.math {
	font-family: "Cambria Math", "Times New Roman", Times, sans-serif;
}
