html,body{
	min-height: 100%;
}

body{
	background: #2C1B56 url(https://apiblueprint.org/images/index-bg-06ef8c4d.jpg) no-repeat bottom center;
	background-size: 100% auto;
	padding-bottom: 1rem;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3rem;
}

@media screen and (max-width: 1152px){
	html{
		font-size: 80%;
	}

	body{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

h1,h2,h3,h4,p,body>ul,body>:not(nav) ul,body>ol,body>:not(nav) ol,table,textarea,button{
	font-family: "Times New Roman", Times, "Source Han Serif SC", "SimSun", sans-serif;
	letter-spacing: 0.0375em;
}

body,button,input{
	color: #DEDEFF;
}

textarea{
	background-color: #DEDEFF;
}

h2{
	border-left: 0.1875rem solid grey;
	padding: 0.25rem 1rem 0.25rem 1rem;
}

body>h1,nav>ul>li>a,figcaption{
	display: none;
}

nav>ul{
	margin-left: 0.125rem;
	list-style-type: none;
}

nav ul{
	font-family: "Yu Gothic", "DengXian", sans;
}

nav>ul>li>ul{
	list-style-type: hiragana-iroha;
	padding: 0rem;
}

nav>ul>li>ul>li>ul{
	list-style-type: disc;
	padding-left: 1rem;
}

nav>ul>li>ul>li>ul>li>ul{
	list-style-type: circle;
	padding-left: 1rem;
}

nav>ul>li>ul>li>ul>li>ul>li>ul{
	list-style-type: disclosure-closed;
	padding-left: 1rem;
}

a{
	text-decoration: none;
}

a:link{
	color: DodgerBlue;
}

a:hover{
	color: DeepPink;
}

p{
	line-height: 2em;
}

body>ul,body>:not(nav) ul,body>ol,body>:not(nav) ol{
	line-height: 1.75;
}

pre,blockquote,table,th,td,textarea,button{
	border-radius: 1rem;
}

pre,blockquote{
	background-color: #fcfcfc1a;
}

pre{
	line-height: 1.45;
	padding: 1rem;
}

:not(pre)>code{
	background-color: rgba(0,0,0,0.04);
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
}

code{
	font-family: "Roboto Mono", "Ubuntu Mono", "Menlo", "Consolas", "Linux Libertine Mono", "Courier New", monospace;
	font-size: 85%;
}

img{
	max-width: 100%;
}

button,input{
	background-color: #B385FACC;
	border: 1px solid #a97aff;
}

blockquote{
	color: DarkSlateGray;
	margin: 0rem;
	padding: 0rem 1rem;
}

table{
	border-collapse: collapse;
	table-layout: fixed;
	white-space: pre-wrap;
	width: 100%;
	word-break: break-all;
}

th{
	font-weight: bold;
}

table,th,td{
	border: 1px #DEDEFF solid;
	padding: 0.5rem 0.75rem;
}

textarea{
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	resize: none;
	width: 90%;
}

textarea:required{
	box-shadow: unset;
}

button{
	border-radius: 0.125rem;
	padding: 0.375rem 0.625rem;
}

.sourceCode{
	overflow: auto !important;
}

.math {
	font-family: "Cambria Math", "Times New Roman", Times, sans-serif;
}
