@font-face {
font-family: "Alex Brush Font";
src: url("./AlexBrush-Regular.ttf");
}

* {
box-sizing: border-box;
font-family: sans-serif;
}

a {
text-decoration: inherit;
}

body {
line-height: 1.7em;
margin: 0;
}

nav {
background: #ffc0cb99;
box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
display: block;
padding: 0.5em;
text-align: left;
color: #2e2c1d;
text-decoration: none;
white-space: nowrap;
}

nav a {
color: inherit;
}

nav>ul {
display: contents;
float: right;
list-style: none;
}

.cover {
text-align: center;
padding: 1em 0;
position: relative;
}

.cover::before {
content: "";
position: absolute;
background: url(6631658203445421276_small.jpg) no-repeat center;
background-size: cover;
filter: blur(2px) opacity(38%);
overflow: hidden;
width: 100%;
height: 100%;
left: 0;
top: 0;
}

.cover>h1 {
color: #9000ff;
font-family: "Alex Brush Font", sans-serif;
font-size: 350%;
font-weight: bolder;
letter-spacing: 0.1em;
line-height: 1em;
}

.cover>p {
color: #da00ff;
letter-spacing: 0.05em;
font-size: 175%;
}

.content {
padding: 1em 1em 3em;
background: #f3d1ff;
}

article {
display: inline-block;
height: 100px;
max-width: 200px;
min-width: 19%;
padding: 1em;
}

article>h3 {
color: #1f8dd6;
font-style: italic;
}

.ribbon {
background: #9bedff;
padding: 2em;
border-bottom: 1px solid rgba(0,0,0,0.1);
}

.footer {
background: #b567d6;
color: white;
text-align: center;
padding: 1em;
}