@font-face {
font-family: "Alex Brush Font";
src: url("/font/AlexBrush-Regular.ttf");
}

@media screen and (max-width: 768px) {
body {
font-size: 80%;
}
}

* {
box-sizing: border-box;
font-family: sans-serif;
}

body {
background-color: #fff2ff;
margin: 0;
}

p {
line-height: 1.75;
}

body > h1 {
background-color: #ffbaba;
box-shadow: 0 1px 5px #aaa;
color: #8b00ff;
font-family: "Alex Brush Font", sans-serif;
font-size: 250%;
line-height: 1.25;
margin: 0;
padding: 1em;
}

body > div {
margin: 1em;
}

.contents {
background-image: linear-gradient(120deg, #a3fdff80, #9c43ff80, #ffc5fc80);
border: 1px solid purple;
border-radius: 7px;
width: 80%;
margin: 2em auto;
padding: 1px 1em;
}

@media screen and (max-width: 480px) {
.contents {
width: 90%;
}
}

.contents > header {
text-align: center;
padding-top: 1.5em;
font-size: 125%;
}

.contents article {
background-color: rgba(255,255,255,0.25);
border: 2px solid purple;
border-radius: 7px;
margin: 2em 0.5em;
padding: 0.5em 1.5em;
}

.contents article > h3 {
font-style: italic;
}

.footer {
text-align: center;
}
